.input {
	display: inline-block;
	padding: 2px;
	border: 1px solid #D8D8D8;
	background-color: #FFF;

	input {
		border: 0 none;
		font-size: 1em;
		width: 100%;
	}

}

.grid {
	display: grid;
	grid-template-columns: 1fr 8.4em;
	grid-gap: 2px;
	cursor: text;
}

.wrapper {
	text-align: right;
}